absl-py==1.2.0
adb-enhanced==2.5.14
aiohttp==3.8.1
aiosignal==1.2.0
ansible==6.3.0
ansible-core==2.13.3
anyio==3.6.1
apsw==3.39.2.0
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
Authlib==1.0.1
Babel==2.10.3
backcall==0.2.0
bcrypt==4.0.0
Beaker==1.11.0
beautifulsoup4==4.11.1
bleach==5.0.1
blivet==3.5.0
blivet-gui==2.3.0
bodhi==5.7.5
bodhi-client==6.0.1
Brlapi==0.8.4
cached-property==1.5.2
cachetools==5.2.0
CCColUtils==1.5
cchardet==2.1.7
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
chex==0.1.4
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
construct==2.10.68
cryptography==37.0.4
css-parser==1.0.7
cupshelpers==1.0
cycler==0.11.0
dasbus==1.6
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.6
distro==1.7.0
dm-tree==0.1.7
dnspython==2.2.1
docker==6.0.0
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.4
etils==0.7.1
executing==1.0.0
fail2ban==1.0.1
fastjsonschema==2.16.1
fedora-third-party==0.10
fedpkg==1.43
feedparser==6.0.10
file-magic==0.4.0
filelock==3.8.0
flatbuffers==2.0.7
flax==0.6.0
fonttools==4.37.1
fros==1.1
frozenlist==1.3.1
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.11.0
google-auth-oauthlib==0.5.2
google-pasta==0.2.0
googleapis-common-protos==1.56.4
gpg==1.17.0
grpcio==1.47.0
gssapi==1.7.2
h11==0.13.0
h5py==3.7.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
humanize==4.3.0
idle==1.0.4
idna==3.3
ifaddr==0.2.0
importlib-resources==5.9.0
iniconfig==1.1.1
iniparse==0.5
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
jax==0.3.16
jaxlib==0.3.15
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
json5==0.9.10
jsonschema==4.14.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter_client==7.3.5
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.2
jupyterlab_server==2.15.1
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kitchen==1.2.6
kiwisolver==1.4.4
koji==1.30.0
langtable==0.0.60
libclang==14.0.6
libcomps==0.1.18
libevdev==0.11
libvirt-python==8.0.0
lockfile==0.12.2
lxml==4.9.1
Mako==1.2.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mechanize==0.4.8
mistune==2.0.4
msgpack==1.0.4
multidict==6.0.2
munch==2.5.0
nbclassic==0.4.3
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
netron==6.0.0
nftables==0.1
notebook==6.4.12
notebook-shim==0.1.0
ntlm-auth==1.5.0
numpy==1.23.2
oauthlib==3.2.0
odfpy==1.4.1
olefile==0.46
# Editable install with no version control (onnx==1.12.0)
-e /usr/local/lib64/python3.10/site-packages
onnxconverter-common==1.12.2
onnxmltools==1.11.1
openidc-client==0.7.0
opt-einsum==3.3.0
optax==0.1.3
outcome==1.2.0
packaging==21.3
pandoc==2.2
pandocfilters==1.5.0
paramiko==2.11.0
parso==0.8.3
Paste==3.5.2
pexpect==4.8.0
pickleshare==0.7.5
pid==3.0.4
Pillow==9.2.0
pipdeptree==2.2.1
platformdirs==2.5.2
pluggy==1.0.0
plumbum==1.7.2
ply==3.11
productmd==1.33
progressbar2==4.0.0
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.30
protobuf==4.21.5
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybeam==0.7
pycairo==1.21.0
pychm==0.8.6
pycparser==2.21
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pygeoip==0.3.2
pygit2==1.10.1
Pygments==2.13.0
PyGObject==3.42.1
pykickstart==3.43
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyroute2==0.7.2
pyroute2.core==0.6.13
pyroute2.ethtool==0.6.13
pyroute2.ipdb==0.6.13
pyroute2.ipset==0.6.13
pyroute2.ndb==0.6.13
pyroute2.nftables==0.6.13
pyroute2.nslink==0.6.13
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.1.2
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-dmidecode==3.12.2
python-dotenv==0.20.0
python-fedora==1.1.1
python-ldap==3.4.0
python-meh==0.50
python-utils==3.3.3
python-yubico==1.3.3
pytz==2022.2.1
pyudev==0.24.0
pyusb==1.2.1
pywinrm==0.4.3
pyxdg==0.28
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
regex==2022.8.17
reportlab==3.6.11
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
resolvelib==0.8.1
rich==12.5.1
rpkg==1.65
rpm==4.17.1
rpmautospec==0.3.0
rpmconf==1.1.7
rpmlint==2.2.0
rsa==4.9
s-tui==1.1.4
scikit-learn==1.1.2
scipy==1.9.1
selinux==3.3
Send2Trash==1.8.0
sepolicy==3.3
setools==4.4.0
sgmllib3k==1.0.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
skl2onnx==1.12
slip==0.6.4
slip.dbus==0.6.4
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
sos==4.3
soupsieve==2.3.2.post1
speedtest-cli==2.1.3
stack-data==0.5.0
systemd-python==234
Tempita==0.5.2
templated-dictionary==1.1
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.10.0
termcolor==1.1.0
terminado==0.15.0
texttable==1.6.4
tf-estimator-nightly==2.8.0.dev2021122109
tf2onnx==1.12.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.12.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.3.0
urllib3==1.26.12
urwid==2.1.2
virtualenv==20.16.3
voila==0.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.0
websockets==10.3
Werkzeug==2.2.2
widgetsnbextension==4.0.2
wrapt==1.14.1
wsproto==1.2.0
wxPython==4.0.7
xmltodict==0.13.0
yarl==1.8.1
zeroconf==0.39.0
zipp==3.8.1
zstd==1.5.2.5
